configuration {
  show-icons:           true;
  cycle:                true;
  hide-scrollbar:       true;
  disable-history:      false;
  sidebar-mode:         false;
  modi:                 "drun,run,window,filebrowser";
  display-drun:         "";
  display-run:          "";
  display-window:       "";
  display-file-browser: "";
  display-calc:         "";
  columns: 3;
}
